<section id="aboutUs" class="fourthSection">
  <div class="textBlock">
    <h1>
      Sobre a DevLean
    </h1>
    <div>
      <p>
        Somos uma empresa com o propósito de contribuir para que nossos parceiros tenham maior competitividade e
        resultados em seu negócio
      </p>
      <p>
        Diagnosticar dores e oferecer soluções a partir de melhorias processuais e/ou Softwares de gestão e controle
        são nosso principal objetivo.
      </p>
      <p>
        Nosso foco está na área de Manufatura, buscando sempre pela otimização dos processos produtivos, com redução
        de desperdícios e potencialização do desempenho.
      </p>
    </div>
  </div>
  <Mission />
</section>