<section class="thirdSection">
  <div class="rightCorner">
    <div class="imageBox">
      <img class="homeImage" src="assets/png/bg-home2.png" alt="black-logo">
    </div>
  </div>
  <div class="leftCorner">
    <div class="textBlockLeft">
      <h1>
        Manufatura
        avançada
      </h1>
      <p>
        Manufatura avançada é o uso de tecnologias e metodologias inovadoras para melhorar a competitividade nos
        setores de manufatura.
      </p>
      <Button>Entre em contato</Button>
    </div>
  </div>
</section>