<section class="firstSection">
  <div class="leftSide">
    <div class="textBoxCenter">
      <div class="logo">
        <img class="logoImage" src="assets/png/devlean-manufatura-avancada-preto.png" alt="black-logo">
      </div>
      <h1 class="boxCenterContentText">
        Facilita processos,
        Facilita a vida.
      </h1>
      <a href="#aboutUs">Nos conheça melhor</a>
      <p>
        Facilite a gestão de seus processos produtivos com mais visibilidade, eficiência, assertividade e
        sustentabilidade.
      </p>
    </div>
  </div>
  <div class="rightSide">
    <div class="imageBox">
      <img class="homeImage" src="assets/png/home-bg.png" alt="black-logo">
    </div>
  </div>
</section>