<section class="secondSection">
  <div class="header">
    <h1>
      Mais valor para sua vida,
      sua empresa.
    </h1>
  </div>
  <div class="slider">
    <div class="module" style="background: url('assets/png/MRP.png') center no-repeat"
      @onclick='(() => handleShowModuleContent("MRP"))'>
      <h1 class="moduleHeader">MRP</h1>
    </div>
    <div class="module" style="background: url('assets/png/CRP.png') center no-repeat"
      @onclick='(() => handleShowModuleContent("CRP"))'>
      <h1 class="moduleHeader">CRP</h1>
    </div>
    <div class="module" style="background: url('assets/png/MES.png') center no-repeat"
      @onclick='(() => handleShowModuleContent("MES"))'>
      <h1 class="moduleHeader">MES</h1>
    </div>
  </div>
</section>

@if (ShowComponent == true)
{
  <Module ModuleHeader="@ModuleHeader" onClose="@handleHideContent" ModuleHeaderDescription="@ModuleHeaderDescription"
  ShowComponent="@ShowComponent" />
}

@code {
  public bool ShowComponent { get; set; } = false;

  public string ModuleHeader { get; set; }

  public string ModuleHeaderDescription { get; set; }

  private void handleShowModuleContent(string name)
  {
    ModuleHeader = name;
    ShowComponent = true;

    if (ModuleHeader == "MRP")
    {
      ModuleHeaderDescription = "Material Requirements Planning (Planejamento de Requisitos de Material)";
    }
    else if (ModuleHeader == "CRP")
    {
      ModuleHeaderDescription = "Capacity Requirements Planning (Planejamento da Capacidade de Produção)";
    }
    else if (ModuleHeader == "MES")
    {
      ModuleHeaderDescription = "Manufacturing Execution Systems (Sistema de Execução de Fabricação)";
    }
  }

  private void handleHideContent()
  {
    ShowComponent = false;
  }
}