footer {
  height: 20rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: var(--orange-solid);
}

.footerBox {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 1300px;
  padding: 0 6rem;
  flex-direction: column;
  gap: 1rem;
}

.footerImage {
  width: 20rem;
}

.hiperLinksText {
  font-size: 1rem;
}

.hiperLinks {
  color: var(--white-solid);
}