<footer>
  <div class="footerBox">
    <div class="footer">
      <img class="footerImage" src="assets/png/devlean-manufatura-avancada-branco.png" alt="White logo">
    </div>
    <div class="hiperLinks">
      <h1 class="hiperLinksText">Política de privacidade</h1>
      <h1 class="hiperLinksText">Sobre a DevLean</h1>
    </div>
  </div>
</footer>

@code {

}